body{
	font-family: 'helvetica','arial', sans-serif
}

.left{
	background-color: #F4F074;
	position: fixed;
	width: 50%;
	height:100%;
	top: 0;
	left:0;
}

.interface{
	text-align: center;
	padding: 20px;
}

a.button{
	display: inline-block;
	background-color: white;
	color: black;
	padding:20px 40px;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 10px;
	transition: color 300ms
}

a.hover{
	color: red;
}

.ground{
	position: absolute;
	background: url('../img/background.jpeg.jpeg') no-repeat center center;
	bottom: 0;
	left:-350px;
	width: 200%;
	height:700px;
}

.nervous{
	position: absolute;
	top: -82px;
	left: 50%;
	background: url('../img/texte1.png') no-repeat 0 0;
	width: 500px;
	height: 454px;
	margin-left: -176px;
	display: none;
}	

.nervous.show{
	display: block;
}


.right{
	background-color: white;
	position: fixed;
	width: 50%;
	height:100%;
	top: 0;
	right:0;
}

.rocket{
	position: absolute;
	left: 50%;
	bottom:-150px;
	width:200px;
	height: 270px;
	margin-left:-71.5px;
	background: url('../img/buzz_1.1.png') no-repeat 0 0;
	transition: bottom 10000ms;
}

/* rocket bg image*/
body.body-state2 .rocket{
	background-image: url('../img/buzz2.png');
}
body.body-state3 .rocket,
body.body-state4 .rocket{
	background-image: url('../img/buzz3.png');

}
body.body-state5 .rocket{
	background-image: url('../img/ohno.jpeg');
	width: 450px;
	height: 470px;
	margin-left: -105px; 
	margin-bottom: -9px;

}

body.body-state1 .rocket{
	transition: none;
}


body.body-state3 .rocket,
body.body-state4 .rocket{
	bottom: 1000px;
}
.state1, .state2, .state3, .state4, .state5{
	display: none;
}

body.body-state1 .state1 {display:block;}
body.body-state2 .state2 {display:block;}
body.body-state3 .state3 {display:block;}
body.body-state4 .state4 {display:block;}
body.body-state5 .state5 {display:block;}


a{

}

a.button{

}